<html>
	<head>
	<title>Registro de usuario</title>
	<link rel="stylesheet" href="custom.css">
	</head>
	<body >

    <!--Inicio del navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                
                <ul class="navbar-nav px-5" >
                    <li class="nav-item mx-2">
                        <a class="nav-link"  href="/index">EVENTOS</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/conocenos">ACERCA DE</a>
                    </li>
                    <% if(user) {%>
                    <li class="nav-item mx-2">
                    <a class="nav-link" href="/events">PUBLICAR EVENTO</a>
                    </li>
                    
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/myevents">Mis Solicitudes</a>
                        </li>
                    
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/logout">Cerrar Sesion</a>
                        <li>        
                    <% } %>
        
    </ul>
        </div>
    </div>
    <div>

        <% if(!user) {%>
        <a class="navbar-brand" href="/user">
            <img src="../styles/user.png" style="width: 40px; height: 40px;" alt="">
        </a>
        <%}%>
    </div>
    </nav>
    <!--Fin del navbar-->

        <H3>Mis Eventos</H3>

        <table class="table table-hover">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Local</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Tipo</th>
                    <th>Solicitante</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <% results.forEach((event) => { %>

                    
                        <tr>
                    <td >
                        <input style="display: none;" type="text" value="<%= event.IdEvent %>" id="id" name="id">
                        <%= event.IdEvent %>
                    </td>
                    <td>
                        <%= event.Name %>
                    </td>
                    <td>
                        <%= event.LocationName %>
                    </td>

                    <td>
                        <%= event.Date %>
                    </td>
               
                    <td>
                        <%= event.Price %>
                    </td>
                    
                    <td>
                        <%= event.Description %>
                    </td>
                    
                    <td>
                        <img src="uploads/<%= event.Image %>" class="card-img-top"  style="width: 50%; height: 50%;" id="imgcard" alt="A Street in Europe">
                    </td>
                    
                    <td>
                        <%= event.Tipo %>
                    </td>
                    
                    <td>
                        <%= event.Solicitante %>
                    </td>
                    
                    <td>
                        <%= event.Estado %>
                    </td>

                    <td>
                        <% if(event.Estado == 'Pendiente de pago'){ %>
                        <a href="payment/<%= event.IdEvent %>" class="btn btn-success"> Pagar Evento </a>
                        <%}%>

                        <% if(event.Estado == 'Pendiente de cambios'){ %>
                            <a href="eventadmin/<%= event.IdEvent %>" class="btn btn-outline-warning"> Editar Evento </a>
                        <%}%>
                    </td>

                <% }) %>

                  </tr>
                </tbody>
              </table>
          </table>


	  
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>
<html>


    <!-- SELECT event.IdEvent, event.Name, event.LocationName, event.Date, event.Price, event.Description, event.Image, event.CoordLat, event.CoordLng, event_type.Name, event_state.Name, user.Name
    FROM event
    INNER JOIN event_type ON event.TypeId = event_type.IdEventType
    INNER JOIN event_state ON event_state.IdEventState = event.StateId
    INNER JOIN user ON event.UserCreatorId = user.IdUser -->